/* GENERAL */

body {
    font-family: "Lato", sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}
img {
    max-width: 100%;
    height: auto;
}
section {
    padding: 45px 0px 80px 0px;
}
section .heading {
    text-align: center;
    padding-bottom: 40px;
}
.red-divider {
    width: 100px;
    height: 2px;
    background: #d82c2e;
    margin: 0 auto;
}

/* ABOUT */

#about {
    padding-top: 100px;
    background: #d82c2e;
}
.profil-picture {
    text-align: center;
    margin: 0 auto;
    float: none;
}
#about .heading h1 {
    color: white;
    text-transform: uppercase;
}
#about .heading h3 {
    color: black;
}
.button1 {
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    display: inline-block;
    margin-top: 20px;
    padding: 18px 50px;
    border-radius: 3px;
    transition: all 0.3s ease-in 0s;
}
.button1:hover {
    background: white;
    color: #d82c2e;
    text-decoration: none;
}

/* SKILLS */

#skills {
    background: white;
}
#skills .heading h2 {
    color: #d82c2e;
    text-transform: uppercase;
}
#skills .progress {
    height: 15%;
    margin: 30px 20px;
    background: #ddd;
}
#skills .progress-bar {
    background: #d82c2e;
}
#skills .progress h5 {
    text-shadow: 1px 1px 1px black;
    margin-top: 5px;
}